
<%- include("header") -%>


<div class="main-container">
    <div class="heading_inputSection">
        <h2>TODO APP</h2>

        <form class="inputContainer" action="/" method="post">
            <input type="text" class="inp" name="n"/>
            <button class="btn" type="submit">ADD +</button>
        </form>

    </div>
    <div class="cardsCont">
 <% Items.forEach(function(Items)
 { %>
<form action="/delete" method="post">
    <div class="todoCardsContainer">
        <div class="card">
           <input type="checkbox" name="checkbox" value="<%=Items._id %>" onchange="this.form.submit()" id="checkbox">
            <h2><%= Items.name %></h2>

        </div>

    </div>
    </form>
    <% }) %>

</div>



</div>